In [ ]:
pip install nltk

In [ ]:
import nltk

In [ ]:
#nltk.download()

In [1]:
import pandas as pd

In [2]:
Fake = pd.read_csv("Fake.csv")
Genuine = pd.read_csv("True.csv")

In [3]:
display(Fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [4]:
display(Genuine.head(10))

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [5]:
display(Fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [6]:
Fake['target']=0
Genuine['target']=1

In [7]:
display(Fake.head(10))

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [8]:
#Now merging both the datasets
data = pd.concat([Fake,Genuine], axis = 0)

In [9]:
#resetting the date
date = data.reset_index(drop = True)

In [10]:
#Now dropping the columns u want to drop
data = data.drop(['subject','date','title'], axis = 1)

In [11]:
print(data.columns)

Index(['text', 'target'], dtype='object')

# Tokenization

In [12]:
from nltk.tokenize import word_tokenize

In [13]:
data['text'] = data['text'].apply(word_tokenize)

In [14]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

# Stemming

In [15]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english")

In [16]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [17]:
data['text'] = data['text'].apply(stem_it)

In [18]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

# Stopword Removal

In [ ]:
#import nltk
#from nltk.corpus import stopwords
#nltk.downloads('stopwords')
#print(stopwords.words('english'))

In [21]:
def stop_it(t):
    dt = [word for word in t if len(word)>2]
    return dt

In [22]:
data['text'] = data['text'].apply(stop_it)

In [23]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [26]:
data['text'] = data['text'].apply(' '.join)

# Splitting

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(data['text'], data['target'], test_size = 0.25)
display(X_train.head())
print('\n')
display(Y_train.head())

11099    washington reuter u.s. democrat presidenti can...
14505    istanbul reuter the u.s. case against turkish ...
17834    are final watch the end time for hollywood cel...
21882                               you won want miss this
14793    shanghai reuter china has hit the brake subway...
Name: text, dtype: object

11099    1
14505    1
17834    0
21882    0
14793    1
Name: target, dtype: int64

# Vectorization

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df = 0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [29]:
print(tfidf_train)

  (0, 57867)	0.014321769822607602
  (0, 77357)	0.022191844360973007
  (0, 65685)	0.025027167603956586
  (0, 22468)	0.027236527113455967
  (0, 77074)	0.02895522651207847
  (0, 72110)	0.03479156873986993
  (0, 36115)	0.05944679768179867
  (0, 59813)	0.0482037530355031
  (0, 44307)	0.0367514348943638
  (0, 13756)	0.05944679768179867
  (0, 43623)	0.037257694765311225
  (0, 8774)	0.03549203971696565
  (0, 24077)	0.049817530400789234
  (0, 28174)	0.030370162161151727
  (0, 38154)	0.050203928680159465
  (0, 79099)	0.032786227463785414
  (0, 69123)	0.012556527490958017
  (0, 64425)	0.017048958909558973
  (0, 53244)	0.04056230274448817
  (0, 41419)	0.04236684900265943
  (0, 68179)	0.03533173955743665
  (0, 53393)	0.017351262483294598
  (0, 75882)	0.029974914871499413
  (0, 88870)	0.020587728499895527
  (0, 81326)	0.015366489060386108
  :	:
  (33672, 89458)	0.05274137951447806
  (33672, 51402)	0.06379982763813632
  (33672, 89547)	0.050797912386178534
  (33672, 35033)	0.02158571260235089
  (33672, 55564)	0.013478132683918561
  (33672, 18707)	0.026645867764390343
  (33672, 64827)	0.0481453678756464
  (33672, 90455)	0.04184170643575992
  (33672, 88682)	0.034070478026134145
  (33672, 68559)	0.05726923642393978
  (33672, 9123)	0.01422066623160798
  (33672, 8054)	0.013412246582868534
  (33672, 24152)	0.017574566658116905
  (33672, 60555)	0.013540147466688092
  (33672, 21066)	0.018004803525387664
  (33672, 73574)	0.18525149916601852
  (33672, 7737)	0.020623660558188078
  (33672, 32487)	0.033712624611837654
  (33672, 65368)	0.02497587140746565
  (33672, 37730)	0.03159388399182896
  (33672, 83531)	0.08417628908247266
  (33672, 71983)	0.03174213773498054
  (33672, 24909)	0.03483431721666931
  (33672, 69519)	0.026178560404714283
  (33672, 87777)	0.017384259804234244

In [30]:
print(tfidf_test)

  (0, 90771)	0.06643631157488344
  (0, 90455)	0.014817709506685374
  (0, 89458)	0.01867769044809965
  (0, 89348)	0.027165907194604395
  (0, 88870)	0.01368516117287912
  (0, 88682)	0.04826251022245089
  (0, 88560)	0.018563966237886854
  (0, 88485)	0.015495899923804025
  (0, 88291)	0.05289807995731141
  (0, 88196)	0.08640948915242472
  (0, 88194)	0.3244156716202215
  (0, 87812)	0.040244204844026354
  (0, 87715)	0.028709299634229996
  (0, 87632)	0.018569261332323315
  (0, 87062)	0.033061344056607316
  (0, 87043)	0.04595683486672219
  (0, 85727)	0.03748655068180961
  (0, 85597)	0.07632214988227486
  (0, 84631)	0.020380166866583733
  (0, 83832)	0.11346828343746149
  (0, 83531)	0.02235747365293011
  (0, 83188)	0.013744097897759893
  (0, 81734)	0.03236632802552572
  (0, 81363)	0.046594935507356224
  (0, 81134)	0.02059639553270177
  :	:
  (11224, 17031)	0.026074179866326864
  (11224, 16762)	0.040520510236479755
  (11224, 16745)	0.08762660576724231
  (11224, 16550)	0.04176842228609975
  (11224, 16220)	0.09339741959433587
  (11224, 15781)	0.09159525882195538
  (11224, 15240)	0.1422569607182636
  (11224, 14035)	0.02945519405737464
  (11224, 13422)	0.014629798288477353
  (11224, 11445)	0.028452166490523477
  (11224, 11212)	0.03136861841242743
  (11224, 10933)	0.06820134074385169
  (11224, 10916)	0.19600148728018937
  (11224, 10882)	0.28045898780993794
  (11224, 10616)	0.05186721112870232
  (11224, 10404)	0.031033150011092095
  (11224, 10034)	0.027981747441829817
  (11224, 9839)	0.09219898943292576
  (11224, 9389)	0.019384837346963335
  (11224, 9123)	0.01601490780891719
  (11224, 8922)	0.01604296043777668
  (11224, 7524)	0.025485568156211193
  (11224, 7227)	0.014211609208232771
  (11224, 2039)	0.09159525882195538
  (11224, 1612)	0.029618454825569393

# Logistic Regression

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [33]:
model_1 = LogisticRegression(max_iter = 900)
model_1.fit(tfidf_train, Y_train)

pred_1 = model_1.predict(tfidf_test)

cr_1 = accuracy_score(Y_test, pred_1)

print(cr_1*100)

98.93095768374165

# Passive Aggressive Classifier

In [34]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter = 50)
model.fit(tfidf_train, Y_train)

PassiveAggressiveClassifier(max_iter=50)

In [35]:
Y_pred = model.predict(tfidf_test)
accscore = accuracy_score(Y_test, Y_pred)
print('The accuracy of prediction is', accscore*100)

The accuracy of prediction is 99.6792873051225